[Desktop Entry]
Version=1.0
Type=Application
Name=desktop 4
Comment=
Exec=wmctrl -s 3
Icon=kdenlive-zone-end
Path=
Terminal=false
StartupNotify=false
